body {
    margin: 0;
    padding: 0;
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-position-y: center;
}

h3 {
    color: white;
}

ul {
    background-color: lightgrey;
    width: 20rem;
    margin: 2rem;
    padding: 1rem;
    list-style: none;
}

li {
    color: white;
    background: gray;
    padding: 1rem;
    border-bottom: solid lightgray 2px;
    cursor: default;
}

.editNameDisabled {
    float: right;
    margin-top: -2.3rem;
    margin-right: 1rem;
    visibility: hidden;
    pointer-events: none;
}

.editName {
    float: right;
    margin-top: -2.3rem;
    margin-right: 1rem;
    color: white;
    background: none;
    border: 2px white solid;
}

.editName:hover {
    float: right;
    margin-top: -2.3rem;
    margin-right: 1rem;
    color: darkgray;
    background: white;
    border: 2px white solid;
    cursor: pointer;
}

#startGame {
    margin-top: 1rem;
}

#playerInfo {
    background-color: rgba(0,0,0,0.9);
    padding-left: 3rem;
    padding-top: 1rem;
    width: 100%;
    height: 5rem;
    display: flex;
    position: fixed;
    bottom: 0;
}

#points {
    margin-left: 1rem;
}

#value {
    margin-left: .5rem;
}

.chooseTrumpfH {
    position: fixed;
    right: 4rem;
    bottom: 2rem;
    visibility: hidden;
}

.chooseTrumpf {
    position: fixed;
    right: 4rem;
    bottom: 2rem;
    visibility: visible;
}

.trumpf {
    width: 3rem;
    height: 2rem;
    font-size: x-large;
    color: white;
    background: crimson;
    outline: 0;
    border: none;
}

.trumpf:focus {
    outline: 0;
}

.hand {
    display: flex;
    width: 80rem;

    position: fixed;
    bottom: 2rem;
    left: calc(50% - 42rem);
}

.blockActive {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    top: 0;
    padding-top: 2rem;
}

.blockInActive {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    top: 0;
    padding-top: 2rem;
    visibility: hidden;
    pointer-events: none;
}

.card {
    width: 13rem;
    height: 20rem;
    background-color: white;
    margin-left: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.4);
    position: relative;
    padding: 1rem;
    font-size: x-large;
    color: black;
}

.red-card {
    width: 13rem;
    height: 20rem;
    background-color: white;
    margin-left: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.4);
    position: relative;
    padding: 1rem;
    font-size: x-large;
    color: crimson;
}

.upside-down {
    transform: rotate(-180deg);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.upside-down-stack {
    transform: rotate(-180deg);
    position: absolute;
    bottom: 0;
    right: 1rem;
}

.playButton {
    width: 105%;
    position: absolute;
    bottom: -.1rem;
    color: white;
    background: rgb(102, 0, 204);
    height: 2rem;
    left: -.5rem;
    font-style: italic;
    font-weight: bold;
}

.stack-empty {
    width: 13rem;
    height: 20rem;
    border-radius: 0.5rem;
    border-style: dotted;
    border-width: .5rem;
    border-color: white;
    position: fixed;
    top: 9rem;
    left: calc(50% - 8rem);
    overflow: hidden;
}

.stack-emptyS {
    width: 13rem;
    height: 20rem;
    border-radius: 0.5rem;
    position: fixed;
    top: 9rem;
    left: calc(50% - 8rem);
    overflow: hidden;
}

#playedCard1 {
    margin-left: 3rem;
    z-index: 1;
}

#playedCard2 {
    margin-left: 6rem;
    z-index: 2;
}

#playedCard3 {
    margin-left: 9rem;
    z-index: 3;
}

.stack-full {
    width: 12rem;
    height: 18rem;
    border-radius: 0.5rem;
    background: white;
    position: fixed;
    top: 9rem;
    left: calc(50% - 8rem);
    overflow: hidden;
    padding: 1rem;
    font-size: x-large;
    color: black;
    box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.stack-full-red {
    width: 12rem;
    height: 18rem;
    border-radius: 0.5rem;
    background: white;
    position: fixed;
    top: 9rem;
    left: calc(50% - 8rem);
    overflow: hidden;
    padding: 1rem;
    font-size: x-large;
    color: crimson;
}

.dialogue {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%) scale(0);
    background-color: white;
    z-index: 10;
    width: 20rem;
    max-width: 80%;
    border-radius: 1rem;
    transition: 300ms ease-in-out;
}

.dialogue-active {
    transform: translate(-50%, -80%) scale(1);
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    z-index: 10;
    width: 20rem;
    max-width: 80%;
    border-radius: 1rem;
    transition: 300ms ease-in-out;
}

#dialogue-header {
    padding: 1rem;
    background: lightgray;
    border-radius: 1rem 1rem 0 0;
    font-size: 1.25rem;
    font-weight: bold;
}

#dialogue-body {
    padding: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    z-index: 9;
    pointer-events: none;
    transition: 300ms ease-in-out;
}

.overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 9;
    transition: 300ms ease-in-out;
    opacity: 0.5;
    pointer-events: all;
}